.title {
  text-align: center;
  margin: 20px;
}

.heading {
  font-size: 70px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}
