@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
} */
.wrapper_form {
  /* background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%); */
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  overflow: hidden;
  position: relative;
  filter: url(#gooey);
}
.wrapper_form span.circle {
  width: 20vmin;
  height: 20vmin;
  border-radius: 20vmin;
  backface-visibility: hidden;
  position: absolute;
  animation-name: move;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.wrapper_form span.circle:nth-child(1) {
  color: #ffacac;
  top: 45%;
  left: 38%;
  animation-duration: 14s;
  animation-delay: -10.3s;
  transform-origin: -1vw -13vh;
  box-shadow: -40vmin 0 21018345985vmin currentColor;
}
.wrapper_form span.circle:nth-child(2) {
  color: #e45a84;
  top: 72%;
  left: 27%;
  animation-duration: 13s;
  animation-delay: -11.4s;
  transform-origin: 18vw -6vh;
  box-shadow: -40vmin 0 3746319275vmin currentColor;
}
.wrapper_form span.circle:nth-child(3) {
  color: #e45a84;
  top: 19%;
  left: 16%;
  animation-duration: 12s;
  animation-delay: -9s;
  transform-origin: -3vw -12vh;
  box-shadow: -40vmin 0 7287642165vmin currentColor;
}
.wrapper_form span.circle:nth-child(4) {
  color: #ffacac;
  top: 30%;
  left: 5%;
  animation-duration: 14.5s;
  animation-delay: -5s;
  transform-origin: 13vw 21vh;
  box-shadow: -40vmin 0 7226057115vmin currentColor;
}
.wrapper_form span.circle:nth-child(5) {
  color: #ffacac;
  top: 33%;
  left: 8%;
  animation-duration: 13s;
  animation-delay: -0.9s;
  transform-origin: 9vw 21vh;
  box-shadow: -40vmin 0 5402717525vmin currentColor;
}
.wrapper_form span.circle:nth-child(6) {
  color: #ffacac;
  top: 30%;
  left: 88%;
  animation-duration: 15.9s;
  animation-delay: -14.4s;
  transform-origin: -9vw -12vh;
  box-shadow: -40vmin 0 7332720645vmin currentColor;
}
.wrapper_form span.circle:nth-child(7) {
  color: #ffacac;
  top: 15%;
  left: 57%;
  animation-duration: 11.1s;
  animation-delay: -7.7s;
  transform-origin: 11vw 3vh;
  box-shadow: -40vmin 0 8295255065vmin currentColor;
}
.wrapper_form span.circle:nth-child(8) {
  color: #ffacac;
  top: 9%;
  left: 22%;
  animation-duration: 15.8s;
  animation-delay: -0.2s;
  transform-origin: 5vw -21vh;
  box-shadow: -40vmin 0 86638755vmin currentColor;
}
.wrapper_form span.circle:nth-child(9) {
  color: #ffacac;
  top: 30%;
  left: 72%;
  animation-duration: 13.2s;
  animation-delay: -7.9s;
  transform-origin: 22vw -4vh;
  box-shadow: -40vmin 0 4241652325vmin currentColor;
}
.wrapper_form span.circle:nth-child(10) {
  color: #583c87;
  top: 1%;
  left: 16%;
  animation-duration: 13.5s;
  animation-delay: -11.6s;
  transform-origin: 19vw 19vh;
  box-shadow: -40vmin 0 17315079725vmin currentColor;
}
.card_glass {
  position: relative;
  width: 944px;
  background: radial-gradient(
    100.21% 271.27% a t 2.81% 7.08%,
    rgba(255, 252, 252, 0.3) 0%,
    rgba(250, 250, 250, 0.07) 100%
  );
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  box-shadow: 30px 20px 70px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  margin: 30px;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 678px) {
  .card_glass {
    margin: 20px;
    width: 100%;
  }
}
.card_glass_header {
  width: 100%;
  height: 70px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 30px 30px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.form_glass_group {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 0 35px;
}
.card_glass_footer {
  width: 100%;
  height: 70px;
  border-radius: 0px 0px 30px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.glass_header_text {
  font-weight: 600;
  font-size: 2em;
  color: black;
}
.glass_footer_text {
  font-weight: 400;
  font-size: 1em;
  color: white;
}
svg.gooey {
  width: 0;
  height: 0;
}
input.form_glass_control {
  padding: 13px 16px;
  border: none;
  max-width: 100%;
  outline: none;
  font-size: 1.5em;
  color: black;
  background: rgba(255, 255, 255, 0.09);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1),
    0px -2px 5px rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  margin: 15px auto;
}
input.form-glass-control::placeholder {
  font-size: 0.7em;
  color: black;
}
.show-hide-toggle {
  position: absolute;
  font-size: 0.8em;
  z-index: 2;
  right: 33%;
  background: rgba(255, 255, 255, 0.09);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1),
    0px -2px 5px rgba(255, 255, 255, 0.5);
  border-radius: 12px;
  color: #6777ef;
  font-weight: 600;
}
@media only screen and (max-width: 500px) {
  .show-hide-toggle {
    right: 10%;
  }
}
.glass_container {
  margin: 20px 40px;
}
.btn {
  padding: 10px 16px;
  border: none;
  outline: none;
  border-radius: 10px;
  margin: 13px 7px;
  display: inline-block;
  color: white;
  font-size: 1.5em;
  background-color: #6777ef;
  margin-left: 33px;
  text-decoration: none;
  height: 50px;
  width: 300px;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.2);
}

@keyframes background {
  0%,
  100% {
    background-image: hue-rotate(90deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}
@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.title {
  text-align: center;
  margin: 20px;
}

.heading {
  font-size: 70px;
}
